In [2]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# create dataset for best picture

In [3]:
oscar_df = pd.read_csv("data/the_oscar_award.csv")
oscar_df = oscar_df[oscar_df['year_ceremony'] >= 1937]
oscar_df['category'] = oscar_df['category'].str.lower() 
bp_mask = oscar_df['category'].str.contains('best|outstanding (motion)? picture')

c:\Users\Nick\Anaconda3\envs\NN\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

## Feature Engineering
### Add Nominations and win count

In [4]:
#create all masks
actor_mask = oscar_df['category'].str.contains('actor( in a leading role)?$')
actress_mask = oscar_df['category'].str.contains('actress( in a leading role)?$')
director_mask = oscar_df['category'].str.contains('directing')
writer_mask = oscar_df['category'].str.contains('writing.*screenplay')
sup_actor_mask = oscar_df['category'].str.contains('actor in a supporting role')
sup_actress_mask = oscar_df['category'].str.contains('actress in a supporting role')

mask_dct = {
    'actor': actor_mask,
    'actress': actress_mask,
    'director': director_mask,
    'writer': writer_mask,
    'sup_actor': sup_actor_mask,
    'sup_actress': sup_actress_mask,
    'best_picture': bp_mask,
}

for k,v in mask_dct.items():
    oscar_df['category'] = np.where(v,k,oscar_df['category'])



big5_mask = actor_mask | actress_mask | bp_mask | director_mask | writer_mask
atl_mask = big5_mask | sup_actor_mask | sup_actress_mask

In [5]:
noms = oscar_df.groupby(['year_film', 'film']).size().rename('noms')
wins = oscar_df[oscar_df['winner']==True & ~bp_mask].groupby(['year_film', 'film'])['category'].nunique().rename('wins')

big5_noms = oscar_df[big5_mask].groupby(['year_film', 'film'])['category'].nunique().rename('big5_noms')
big5_wins = oscar_df[~bp_mask & big5_mask & oscar_df['winner']==True].groupby(['year_film', 'film'])['category'].nunique().rename('big5_wins')

atl_noms = oscar_df[atl_mask].groupby(['year_film', 'film'])['category'].nunique().rename('atl_noms')
atl_wins = oscar_df[~bp_mask & atl_mask & oscar_df['winner']==True].groupby(['year_film', 'film'])['category'].nunique().rename('atl_wins')

for ser in (noms,wins,big5_noms,big5_wins,atl_noms,atl_wins):
    oscar_df = pd.merge(oscar_df,ser,left_on=['year_film', 'film'],right_index=True,how='left')

oscar_df[['wins','big5_wins','atl_wins']] = oscar_df[['wins','big5_wins','atl_wins']].fillna(0)

In [6]:
noms_df = (~oscar_df[atl_mask].astype({'winner':int}).pivot_table(index=['year_ceremony','film'],columns='category',values='winner').isna())
wins_df = (~oscar_df[atl_mask&(oscar_df['winner'])].astype({'winner':int}).pivot_table(index=['year_ceremony','film'],columns='category',values='wins').isna())

#remove best_film from both datasets
noms_df = noms_df.drop('best_picture',axis=1)
wins_df = wins_df.drop('best_picture',axis=1)

In [7]:
oscar_df = pd.merge(oscar_df,noms_df,left_on=['year_ceremony','film'],right_index=True,how='left',suffixes=('','_noms'))
oscar_df = pd.merge(oscar_df,wins_df,left_on=['year_ceremony','film'],right_index=True,how='left',suffixes=('_noms','_wins'))

In [8]:
oscar_df.isna().sum()
oscar_df[['atl_noms','big5_noms']] = oscar_df[['atl_noms','big5_noms']].fillna(0)
noms_wins_cols = oscar_df.columns[oscar_df.columns.str.contains('_wins|_noms$')]
oscar_df[noms_wins_cols] = oscar_df[noms_wins_cols].fillna(False)

## Filter Best Picture, remove data leakage, split data

In [9]:
model_df = oscar_df[oscar_df['category']=='best_picture'].set_index(['year_ceremony','film']).drop('category',axis=1)
model_df.drop(['year_film','ceremony','name'],axis=1,inplace=True)
model_df = model_df.astype(int)


#remove data leakage
model_df[model_df['winner']==1][['wins','big5_wins','atl_wins']] = model_df[model_df['winner']==1][['wins','big5_wins','atl_wins']]

c:\Users\Nick\Anaconda3\envs\NN\lib\site-packages\pandas\core\frame.py:3062: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [10]:
test_mask = model_df.index.get_level_values(0) >= 2007

train_df = model_df[~test_mask]
test_df = model_df[test_mask]

# Train Model

In [11]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB
model = GaussianNB()
model.fit(train_df.drop('winner',axis=1),train_df['winner'])

test_df['predict'] = model.predict_proba(test_df.drop('winner',axis=1))[:,1]

<ipython-input-11-b15df0baa1e8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['predict'] = model.predict_proba(test_df.drop('winner',axis=1))[:,1]

In [12]:
predictions = test_df.groupby('year_ceremony')['predict'].idxmax()
actual = test_df.groupby('year_ceremony')['winner'].idxmax()

In [13]:

(predictions == actual).sum()/len(predictions)

0.6470588235294118

## Create model based on actors

In [14]:
model_df

                                       winner  noms  wins  big5_noms  \
year_ceremony film
1942          Blossoms in the Dust          0     4     2          2
              Citizen Kane                  0     9     2          4
              Here Comes Mr. Jordan         0     7     3          4
              Hold Back the Dawn            0     6     1          3
              How Green Was My Valley       1    10     4          3
...                                       ...   ...   ...        ...
2023          The Fabelmans                 0     7     1          4
              Tár                           0     6     1          4
              Top Gun: Maverick             0     6     2          2
              Triangle of Sadness           0     3     1          3
              Women Talking                 0     2     2          2

                                       big5_wins  atl_noms  atl_wins  \
year_ceremony film
1942          Blossoms in the Dust             0         2         0
              Citizen Kane                     1         4         1
              Here Comes Mr. Jordan            1         5         1
              Hold Back the Dawn               0         3         0
              How Green Was My Valley          1         5         2
...                                          ...       ...       ...
2023          The Fabelmans                    0         5         0
              Tár                              0         4         0
              Top Gun: Maverick                0         2         0
              Triangle of Sadness              0         3         0
              Women Talking                    1         2         1

                                       actor_noms  actress_noms  \
year_ceremony film
1942          Blossoms in the Dust              0             1
              Citizen Kane                      1             0
              Here Comes Mr. Jordan             1             0
              Hold Back the Dawn                0             1
              How Green Was My Valley           0             0
...                                           ...           ...
2023          The Fabelmans                     0             1
              Tár                               0             1
              Top Gun: Maverick                 0             0
              Triangle of Sadness               0             0
              Women Talking                     0             0

                                       director_noms  sup_actor_noms  \
year_ceremony film
1942          Blossoms in the Dust                 0               0
              Citizen Kane                         1               0
              Here Comes Mr. Jordan                1               1
              Hold Back the Dawn                   0               0
              How Green Was My Valley              1               1
...                                              ...             ...
2023          The Fabelmans                        1               1
              Tár                                  1               0
              Top Gun: Maverick                    0               0
              Triangle of Sadness                  1               0
              Women Talking                        0               0

                                       sup_actress_noms  writer_noms  \
year_ceremony film
1942          Blossoms in the Dust                    0            0
              Citizen Kane                            0            1
              Here Comes Mr. Jordan                   0            1
              Hold Back the Dawn                      0            1
              How Green Was My Valley                 1            1
...                                                 ...          ...
2023          The Fabelmans                           0            1
              Tár                                     0            1
              Top Gun: Maverick                       0            1
              Triangle of Sadness                     0            1
              Women Talking                           0            1

                                       actor_wins  actress_wins  \
year_ceremony film
1942          Blossoms in the Dust              0             0
              Citizen Kane                      0             0
              Here Comes Mr. Jordan             0             0
              Hold Back the Dawn                0             0
              How Green Was My Valley           0             0
...                                           ...           ...
2023          The Fabelmans                     0             0
              Tár                               0             0
              Top Gun: Maverick                 0             0
              Triangle of Sadness               0             0
              Women Talking                     0             0

                                       director_wins  sup_actor_wins  \
year_ceremony film
1942          Blossoms in the Dust                 0               0
              Citizen Kane                         0               0
              Here Comes Mr. Jordan                0               0
              Hold Back the Dawn                   0               0
              How Green Was My Valley              1               1
...                                              ...             ...
2023          The Fabelmans                        0               0
              Tár                                  0               0
              Top Gun: Maverick                    0               0
              Triangle of Sadness                  0               0
              Women Talking                        0               0

                                       sup_actress_wins  writer_wins
year_ceremony film
1942          Blossoms in the Dust                    0            0
              Citizen Kane                            0            1
              Here Comes Mr. Jordan                   0            1
              Hold Back the Dawn                      0            0
              How Green Was My Valley                 0            0
...                                                 ...          ...
2023          The Fabelmans                           0            0
              Tár                                     0            0
              Top Gun: Maverick                       0            0
              Triangle of Sadness                     0            0
              Women Talking                           0            1

[481 rows x 19 columns]

In [53]:
#load database of cast
cast_pkl = open("cast_info.pickle", "rb")
cast_info = pickle.load(cast_pkl)
cast_db = pd.DataFrame(cast_info).T

#database is indexed by tmdb id, so load tmdb to get mapping
tmdb = pd.read_csv('data/tmdb.csv',index_col=0)

#create multiIndex based on nested list
new_index = pd.MultiIndex.from_tuples([(int(yr),title) for (title,yr) in tmdb.index.str.split('_')])
tmdb.index = new_index


#create a df just mapping the cast
cast_df = pd.merge(tmdb['id'],cast_db,left_on='id',right_index=True,how='left')['cast']

#only keep ids and then explode with id representing a 
cast_df = cast_df[~cast_df.isna()].apply(lambda x: [i['id'] for i in x])

In [54]:
#create dataframe
t = cast_df[~cast_df.isna()].explode().to_frame()

#remove duplicates within a movie
t = t.reset_index().drop_duplicates(subset=['level_0','level_1','cast'])#.set_index(['level_0','level_1'])
#pivot list to dataframe where cast value is a column and 1 represents that cast member was in that movie
t = t.groupby(['level_0','level_1','cast']).size().unstack(fill_value=0)
t.index.get_level_values(0).astype(int)
t.index.rename(['year_film','film'],inplace=True)

In [165]:
#create actor df for modelling
actor_df = oscar_df[bp_mask].merge(t,right_index=True,left_on=('year_film','film'),how='left')
actor_df = actor_df.set_index(['year_ceremony','film'])


# remove unnessecary columns
cols = ['winner'] + t.columns.to_list()
actor_df = actor_df[cols]
actor_df['winner'] = actor_df['winner'].astype(int)

# remove columns less than a certain amount
threshold = 0
cols = actor_df.columns[(actor_df.sum()>threshold)|actor_df.columns.str.contains('winner')]
actor_df = actor_df[cols]

In [166]:
actor_df =actor_df[~actor_df.isna().any(axis=1)]
#not sure why 4 films have no data but will remove for now


test_mask = actor_df.index.get_level_values(0) >= 2007

train_df = actor_df[~test_mask]
test_df = actor_df[test_mask]

In [167]:
model = GaussianNB()
model.fit(train_df.drop('winner',axis=1),train_df['winner'])

test_df['predict'] = model.predict_proba(test_df.drop('winner',axis=1))[:,1]

<ipython-input-167-075d435bf996>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['predict'] = model.predict_proba(test_df.drop('winner',axis=1))[:,1]

In [169]:
predictions = test_df.groupby('year_ceremony')['predict'].idxmax()
actual = test_df.groupby('year_ceremony')['winner'].idxmax()

In [170]:
(predictions == actual).sum()/len(predictions)

0.17647058823529413

In [171]:
predictions

year_ceremony
2007                             (2007, Babel)
2008                         (2008, Atonement)
2009               (2009, Slumdog Millionaire)
2010                    (2010, The Blind Side)
2011                     (2011, Winter's Bone)
2012                        (2012, The Artist)
2013       (2013, Beasts of the Southern Wild)
2014                           (2014, Gravity)
2015                   (2015, American Sniper)
2016                              (2016, Room)
2017                    (2017, Hidden Figures)
2018              (2018, Call Me by Your Name)
2019                     (2019, Black Panther)
2020                          (2020, Parasite)
2021                        (2021, The Father)
2022                      (2022, Drive My Car)
2023    (2023, All Quiet on the Western Front)
Name: predict, dtype: object