In [1]:
import pickle
import pandas as pd
import numpy as np

# create dataset for best picture

In [74]:
oscar_df = pd.read_csv("data/the_oscar_award.csv")
oscar_df = oscar_df[oscar_df['year_ceremony'] >= 1937]
oscar_df['category'] = oscar_df['category'].str.lower() 
bp_mask = oscar_df['category'].str.contains('best|outstanding (motion)? picture')

c:\Users\Nick\Anaconda3\envs\NN\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

## Add Nominations and win count

In [75]:
nominations = oscar_df.groupby(['year_film', 'film']).size().rename('nominations')
wins = oscar_df[oscar_df['winner']==True & ~bp_mask].groupby(['year_film', 'film']).size().rename('wins')
oscar_df = pd.merge(oscar_df,nominations,left_on=['year_film', 'film'],right_index=True,how='left')
oscar_df = pd.merge(oscar_df,wins,left_on=['year_film', 'film'],right_index=True,how='left')

In [76]:
oscar_df

,year_film,year_ceremony,ceremony,category,name,film,winner,nominations,wins
415,1936,1937,9,actor,Gary Cooper,Mr. Deeds Goes to Town,False,5.0,1.0
416,1936,1937,9,actor,Walter Huston,Dodsworth,False,7.0,1.0
417,1936,1937,9,actor,Paul Muni,The Story of Louis Pasteur,True,4.0,3.0
418,1936,1937,9,actor,William Powell,My Man Godfrey,False,6.0,NaN
419,1936,1937,9,actor,Spencer Tracy,San Francisco,False,6.0,1.0
...,...,...,...,...,...,...,...,...,...
10754,2022,2023,95,writing (original screenplay),Written by Martin McDonagh,The Banshees of Inisherin,NaN,9.0,NaN
10755,2022,2023,95,writing (original screenplay),Written by Daniel Kwan & Daniel Scheinert,Everything Everywhere All at Once,NaN,11.0,NaN
10756,2022,2023,95,writing (original screenplay),Written by Steven Spielberg & Tony Kushner,The Fabelmans,NaN,7.0,NaN
10757,2022,2023,95,writing (original screenplay),Written by Todd Field,Tár,NaN,6.0,NaN
10758,2022,2023,95,writing (original screenplay),Written by Ruben Östlund,Triangle of Sadness,NaN,3.0,NaN

In [82]:
sorted(oscar_df['category'].unique())

actor_mask = oscar_df['category'].str.contains('actor( in a leading role)?$')
actress_mask = oscar_df['category'].str.contains('actress( in a leading role)?$')
sup_actor_mask = oscar_df['category'].str.contains('actor in a supporting role')
sup_actress_mask = oscar_df['category'].str.contains('actress in a supporting role')

for mask in [actor_mask, actress_mask, sup_actor_mask,sup_actress_mask]:
    assert len(oscar_df[mask]['year_ceremony'].unique())== 87, 'missing years'

c:\Users\Nick\Anaconda3\envs\NN\lib\site-packages\pandas\core\strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

87

In [67]:
len(oscar_df[actor_mask]['year_ceremony'].unique())

95

In [66]:
oscar_df[oscar_df['year_ceremony'] == 1934]

Empty DataFrame
Columns: [year_film, year_ceremony, ceremony, category, name, film, winner, nominations, wins]
Index: []

In [3]:
tmdb_df = pd.read_csv('data/tmdb.csv')
tmdb_df

,Unnamed: 0,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,The Noose_1927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Last Command_1927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A Ship Comes In_1927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7th Heaven_1927,False,/qRDUrxnMjLGXBqooHvfT9zzICZ0.jpg,"[18, 10749]",82474.0,en,7th Heaven,A dejected Parisian sewer worker feels his pra...,5.476,/3ETXMu5PrcVMRJpfN2Z3MwcfXzy.jpg,1927-09-10,7th Heaven,False,7.4,77.0
4,Sadie Thompson_1927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5184,Ivalu_2022,False,/572w5U3T7CiyAswyshiS48vO7uR.jpg,[18],1042171.0,kl,Ivalu,Ivalu is gone. Her little sister is desperate ...,1.814,/qxu1Rv9BSTMlVUKrQy2tPWEFRv9.jpg,2022-01-01,Ivalu,False,0.0,0.0
5185,Le Pupille_2022,False,/aHkjDwtkPkuc88X7FBQuN1EMjis.jpg,"[10751, 35]",974586.0,it,Le pupille,A facetious coming-of-age fable that ends with...,8.162,/tuee2So5p4zWbEznpL8EKRT4cre.jpg,2022-05-27,Le Pupille,False,6.9,21.0
5186,Night Ride_2022,False,NaN,[18],1043141.0,hr,Noćna vožnja,"Through a sequence of dreams and nightmares, D...",1.473,/keukc9pxXxGOKX8l40x4WJ5pydl.jpg,2022-10-26,Night Ride,False,0.0,0.0
5187,The Red Suitcase_2022,False,/lF1bmtWOfwqlWcu7ybJYvdqzQPD.jpg,[18],1032734.0,fa,La valise rouge,A veiled 16 year old Iranian teenager is terri...,3.487,/erJFQ6iVz73HoDG99GcwNNQN5up.jpg,2022-09-28,The Red Suitcase,False,0.0,0.0
5188,Glass Onion: A Knives Out Mystery_2022,False,/dKqa850uvbNSCaQCV4Im1XlzEtQ.jpg,"[35, 80, 9648]",661374.0,en,Glass Onion: A Knives Out Mystery,World-famous detective Benoit Blanc heads to G...,1273.707,/vDGr1YdrlfbU9wxTOdpf3zChmv9.jpg,2022-11-23,Glass Onion: A Knives Out Mystery,False,7.1,3077.0